.footer {
  background-color: rgb(9, 32, 32);
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.footer__dark {
  background-color: gray;
  color: white;
}
